.container {
  width: 80%;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  color: #2a73dd;
  font-size: 40px;
}
header .container nav a {
  color: #1d365e;
  font-size: 18px;
  transition: 0.3s;
  position: relative;
}
header .container nav a:hover {
  color: #2a73dd;
}
header .container nav a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #2a73dd;
  bottom: -2px;
  transform: translateX(50%);
  right: 50%;
  transition: 0.3s;
}
header .container nav a:hover::before {
  width: 100%;
}

.banner {
  background-image: url(./image/product-header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.banner .intro h2 {
  font-size: 60px;
  color: #2a73dd;
}
.banner .intro h3 {
  font-size: 30px;
  color: #1d365e;
  letter-spacing: 0.015rem;
  margin-bottom: 30px;
}/*# sourceMappingURL=index.css.map */