* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Definition of colors */
  body {
    /* text colors */
    --text-white: #ffffff;
    --text-dark: #142136;
  
    /* background colors */
    --bg-grey-light: #f5f5f5;
    --bg-white: #ffffff;
    --bg-blue-dark: #142136;
    --bg-indigo: #6366f1;
  
    font-family: "Inter", sans-serif;
    line-height: 1.7;
    background-color: var(--bg-grey-light);
  }
  /* =============== */
  * Light theme */
  #myBody{
    background-color:black;
  }
  #switchButton {
    background-color: white;
  }
  #switchButton .fa-sun {
    display: none;
  }
  #switchButton .fa-moon {
    display: block;
  }
  
  /* Dark Theme*/
  .dark#myBody{
    background-color:white;
  }
  .dark #switchButton {
    background-color: black;
  }
  .dark #switchButton .fa-sun {
    display: block;
    color: white;
  }
  
  .dark #switchButton .fa-moon {
    display: none;
  }
  .dark .card {
    background-color: black;
    color: white;
  }
  
  /* ============= */
  .dark {
    --text-white: #e6e6e6;
    --text-dark: #ffffff;
    --bg-grey-light: #142136;
    --bg-white: #22395d;
    --bg-blue-dark: #142136;
    --bg-indigo: #7577e1;
  }
  .container {
    max-width: 600px;
    margin: 40px auto;
    display: flex;
    padding: 20px;
    flex-direction: column;
  }
  .text-wrapper {
    width: 100%;
    padding: 20px;
    background-color: var(--bg-white);
    margin-bottom: 40px;
    border-radius: 10px;
  }
  .paragraph {
    font-size: 16px;
    color: var(--text-dark);
  }
  .heading {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 900;
    margin-bottom: 40px;
    color: var(--text-dark);
  }
  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .button {
    width: 200px;
    padding: 5px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    cursor: pointer;
    background-color: var(--bg-indigo);
    color: var(--text-white);
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
  }

  .dark {
    --text-white: #e6e6e6;
    --text-dark: #ffffff;
 
    --bg-grey-light: #142136;
    --bg-white: #22395d;
    --bg-blue-dark: #142136;
    --bg-indigo: #7577e1;
 }
 