@import "./variable";
@import "./mixin";

.container {
    width: 80%;
    margin: 0 auto;
}


header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            color: $color-blue-1;
            font-size: 40px;
        }
        nav {
            a {
                color: $color-blue-2;
                font-size: 18px;
                transition: 0.3s;
                position: relative;
                &:hover {
                    color: $color-blue-1;
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 2px;
                    background: $color-blue-1;
                    bottom: -2px;
                    transform: translateX(50%);   
                    right: 50%;
                    transition: 0.3s;
                }
                &:hover::before {
                    width: 100%;
                }
            }
        }
    }
}

.banner {
    background-image: url(./image/product-header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    .intro {
        h2 {
            font-size: 60px;
            color: $color-blue-1;
        }
        h3 {
            font-size: 30px;
            
            color: $color-blue-2;
            letter-spacing: 0.015rem;
            margin-bottom: 30px;
        }
    }
}

@include Responsive (XL) {
    .products {
        h2.title {
            color: red;
        }
    }
}