* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

p {
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
}

.clear {
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: left;
    width: 50%;
}

h1 {
    font-weight: bold;
    font-size: 24px;
}

a {
    color: black;
    text-decoration: none;
}

.button {
    padding: 10px 20px;
    background-color: #fdc800;
    font-weight: bold;
    border: none;
    margin-top: 25px;
    border-radius: 3px;
}

.button:hover {
    cursor: pointer;
    background-color: #ed8e00;
    transition: all 0.5s;
}

/* start header */
.header__container {
    padding: 20px 0;
}

.logo i {
    color: #001b44;
    float: left;
    margin-right: 10px;
    font-size: 30px;
}

.logo {
    margin-bottom: 20px;
}

.nav a {
    margin-right:25px;
}
/* end header */
/* start carousel */
.carousel {
    background-image: url(./images/2.jpg);
    width: 100%;
    background-size: cover;
    height: 700px;
}
/* end carousel */
/* start about */
.about__left {
    padding-right: 20px;
}

.about__right {
    background-image: url(./images/g1.jpg);
    background-size: cover;
    height: 400px;
}

.about__left p {
    margin-top: 15px;
}

/* end about */
/* start number */
.number {
    background-color: #f8f8f8;
}
.number__container {
    text-align: center;
}

.number__statistic {
    width: 25%;
    float: left;
    text-align: center;
}

.number__statistic p,
.number__statistic span {
    float: left;
}

.number__statistic span {
    font-size: 4rem;
    font-weight: bold;
    width: 30%;
}

.number__statistic p {
    width: 70%;
    font-size: 20px;
    text-transform: uppercase;
    text-align: start;
    padding: 10px 0 0 10px;
    color: black;
}
/* end number */
/* start service */
.service__desc {
    background-color: #002146;
    padding: 30px 0;
    float: left;
    width: 23%;
    color: black;
    text-align: center;
    margin: 10px;
    color: white;
}

.service__desc i {
    font-size: 30px;
}


/* start article */
/* article left */
.article {
    background-color: #f6f6f6;
}

.article__left {
    padding: 50px 20px 50px 0;
    position: relative;
}

.article__leftnew {
    margin: 20px 0;
}

.article__leftnew-list {
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
}

.img__new {
    width: 33%;
    float: left;
}

.article__content {
    float: left;
    padding-left: 15px;
    width: 67%;
}

.article__content-tittle {
    font-weight: bold;
}

.article__content-date {
    margin: 10px 0 20px 0;
    opacity: .5;
}

/* article right */
.article__right {
    margin-top: 50px;
    position: relative;
    padding-left: 20px;
}

.calendar {
    margin: 20px 0 0 0;
    padding: 20px;
    background-color: #fff;
    position: relative;
}

.calendar__date {
    float: left;
    width: 20%;
    text-align: center;
}

.calendar__date div {
    background-color: #fdc900;
    padding: 15px 10px;
    border-radius: 5px 5px 0 0;
}

.calendar__date p {
    background-color: #001b44;
    color: #fff;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}

.calendar__content {
    float: left;
    padding-left: 15px;
    width: 80%;
}

.calendar__content>p {
    margin: 20px 0 10px 0;
}

.calendar__content-time {
    float: left;
    padding-right: 10px ;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    line-height: 20px;
    color: #001b44;
}

.calendar__content-place {
    margin-left: 10px;
    float: left;
    color: #001b44;
}

.article__left>button {
    right: 20px;
    position: absolute;
    margin-top: 0;
}

.article__right>button {
    right: 0;
    position: absolute;
}

/* start footer */
#contact {
    background-color: #002146;
    color: #f8f8f8;
}

.contact__container {
    
}

.contact__about {
    width: 33%;
    float: left;
}

.contact__about ul{
    list-style-type: none;
    margin-top: 20px;
}

.links {
    padding-left: 50px;
    margin-bottom: 20px;
}

.contact__about li {
    margin-bottom: 10px;
}
.contact__about a {
    color: #f6f6f6;
}

.contact__about a:hover {
    color: #fdc800;
    transition: all 0.5s;
}

.contact__about i {
    color: #fdc800;
    margin-right: 10px;
}

.copyright {
    border-top: 1px solid rgb(67, 76, 81);
}

.copyright p{
    margin-top: 30px;
    color: #f6f6f6;
}