* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    max-width: 750px;
}

.title h2 {
    font-size: 36px;
    line-height: 42px;
    color: #212529;
    font-weight: bold;
}

.title p {
    color: #585858;
    line-height: 24px;
}

/* start header */
header {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

header a {
    color: white;
}

.navbar .nav-item.active a{
    color: #35a22c;
}

.navbar .nav-item a {
    position: relative;
    margin-right: 10px;
}

.navbar .nav-item a::before {
    position: absolute;
    width: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    background:#35a22c;
    content: "";
    transition: all 0.3s;
}

.navbar .nav-item a:hover,
.navbar .nav-item a:hover::before{
    color: #35a22c;
    width: 100%;
}

header .navbar-brand {
    font-size: 36px;
}

header .navbar-brand i {
    font-size: 45px;
    color: #35a22c;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

header .navbar-toggler {
    cursor: pointer;
}
/* end header */
/* start carousel */
.myCarousel .carousel-item {
    height: 100vh;
}

.myCarousel .carousel-caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myCarousel .carousel-caption h5 {
    font-size: 60px;
    line-height: 65px;
    margin-top: 40px;
}

.myCarousel .carousel-caption p {
    font-size: 24px;
}

.carousel-caption img {
    width: 140px;
    border-radius: 50%;
    margin: auto;
}

.myCarousel .carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: none;
}

.myCarousel .carousel-indicators li.active {
    background-color: #35a22c;
}

.carousel-indicators {
    bottom: 10%;
}

.carousel-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(1) {
    background-image: url(./image/finland.jpg);
}

.carousel-item:nth-child(2) {
    background-image: url(./image/mountains.jpg);
}

.carousel-item:nth-child(3) {
    background-image: url(./image/mountains-1.jpg);
}

@media screen and (max-height: 415px) {
    .carousel-caption img {
        width: 100px;
        height: 100%;
    }

    .myCarousel .carousel-caption h5 {
        font-size: 5vw;
        line-height: 5vw;
    }

    .myCarousel .carousel-caption p {
        font-size: 3vw;
    }

    .carousel-caption {
        padding-top: 0;
    }
}

@media screen and (max-width: 320px) {
    .carousel__thumb {
        width: 120px;
    }

    .carousel-caption img {
        width: 120px;
    }

    .myCarousel .carousel-caption h5 {
        font-size: 10vw;
        line-height: 10vw;
    }

    .myCarousel .carousel-caption p {
        font-size: 5vw;
    }

    .carousel-caption {
        padding-top: 0;
    }
}

.overlay {
    background: rgba(39,43,54,.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/* end carousel */
/* start projects */
#projects .nav {
    justify-content: center;
}

#projects .col-4 {
    margin: 15px 0;
}

#projects .card {
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    border: none;
}

#projects .card-body {
    border: 1px solid transparent;
}

#projects .card:hover .card-body {
    border: 1px solid #35a22c;
    border-bottom-left-radius: 16px ;
    border-bottom-right-radius: 16px;
    border-top: transparent;
}

#projects .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #35a22c;
    border: 1px solid #35a22c;
}

#projects .nav-item a {
    color: #1a1d2d;
}

#projects .nav-pills .nav-link {
    border: 1px solid black;
    margin: 0 5px;
}

#projects .row div {
    margin-top: 15px;
}
/* end projects */
/* start feature */
#feature {
    background-image: url(./image/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 100px 0;
}

#feature .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7,10,12,.72);
}

#feature .title {
    position: relative;
}

#feature .title h2,
#feature .title p {
    color: #fff;
}

.feature__item {
    border-radius: 10px;
    padding: 40px;
    backdrop-filter: blur(3px);
    transition: all .5s;
    background: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.1);
}

.feature__item:hover {
    background-color: black;
    border: 1px solid white ;
}

.feature__item i {
    font-size: 48px;
    color: #35a22c;
}
/* end feature */
/* start award */
#award {
    position: relative;
    color: #585858;
    padding: 70px 0;
}

.award__bg {
    background-image: url(./image/memphis_3.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% auto;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#award .row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
}

.award__left {
    background: rgba(255,255,255,.25);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.18);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.3);
    padding: 45px;
}

.award__right {
    padding: 45px 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
/* end award */
/* start footer */
footer {
    background-color: #222;
    color: #aaa;
}

footer a {
    color: #aaa;
}

.footer__social i {
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    border: 1px solid #454545;
    transition: all .5s;
}

.footer__copyright {
    padding-top: 25px;
    border-top: 1px solid #454545;
    margin-top: 25px;
}

/* end footer */